.accountContainer {
  height: 95%;
  background-image: url(../../src/background.jpg);
  background-repeat: repeat-x;
  background-position: 0% 100%;
  background-attachment: fixed;
}

.account {
  background-color: rgba(203, 248, 213, 0.493);
}
