.userContainer {
  display: flex;
  margin: 1rem;
}
.userProfile {
  background-size: contain;
  margin: 0.5rem;
  position: relative;
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(12, 145, 41, 0.233);
}
.userProfile img {
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.userData {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 9rem;
  width: 15rem;
}
.userData span h4 {
  margin: 0;
  text-decoration: underline;
}
