.HomePage {
  color: rgb(43, 74, 75);
}
.flexContainer {
  display: flex;
  height: 35rem;
  justify-content: center;
}
.InfoBox {
  padding: 0 1rem;
  font-size: x-large;
}
.InfoBoxTitle {
  margin: 0;
  font-size: 3.5rem;
  color: coral;
}
.imageGrowBox {
  width: 35rem;
  background-image: url(../../src/apka.png);
  background-size: 58%;
  background-position-x: center;

  background-repeat: no-repeat;
}
.infoBar {
  text-align: center;
  background-color: rgb(221, 233, 233);
  width: 100%;
  height: 17rem;
}
.infoBarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.infoBarItem {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.plant,
.harvest,
.phone {
  background-size: 8rem;
  background-position: center;
  background-repeat: no-repeat;
}
.plant {
  background-image: url(../../src/plant.png);
}
.phone {
  background-image: url(../../src/phone.png);
}
.harvest {
  background-image: url(../../src/harvest.png);
}
.flexContainerVideo {
  margin: 2rem 0;
  height: 30rem;
  color: white;
  justify-content: center;
  display: flex;
  background-color: rgb(14, 20, 20);
}
.video {
  margin-right: 5rem;
}
.videoText {
  height: 100%;
  width: 32rem;
}
.videoText h1 {
  font-size: 3rem;
}
.videoText h2 {
  color: rgb(148, 146, 146);
}

.specyficationContainer {
  width: 100%;
  background-color: rgb(242, 248, 248);
  height: 45rem;
}
.specTitle {
  text-align: center;
  background-color: rgb(242, 248, 248);
}
.specTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.specTitleIMG {
  background-image: url(../../src/spec.png);
  background-size: contain;
  width: 4rem;
  height: 4rem;
}
.growSpecContainer {
  display: flex;
  justify-content: center;
}
.growSpecImg {
  justify-self: flex-end;
  align-self: flex-end;

  background-image: url(../../src/growboxSpec.png);
  background-position: 60%;
  width: 30rem;
  height: 40rem;
  background-size: cover;
}
.growSpec {
  padding: 0 2rem;
  width: 30rem;
  height: 40rem;
}
.growSpec h1 {
  text-decoration: underline;
}
.growSpec li {
  font-size: xx-large;
  margin-bottom: 1rem;
}
@media (max-width: 40rem) {
  .flexContainer {
    flex-direction: column;
  }
  .InfoBox {
    background-image: none;
  }
  .imageGrowBox {
    height: 30rem;
    width: 100%;
    background-size: 250%;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-image: url(../../src/growbox1.png);
  }
  .infoBar {
    text-align: center;

    background-color: rgb(221, 233, 233);
    width: 100%;
    height: 100%;
  }
  .infoBarItems {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .flexContainerVideo {
    margin: 2rem 0;

    height: 40rem;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(14, 20, 20);
  }
  .videoText {
  }
  .video {
    margin: 0;
  }
  .video video,
  .videoText {
    width: 100%;
    height: 90%;
  }
  .videoText {
    text-align: center;
  }
  .specyficationContainer {
    height: 85rem;
  }
  .growSpecContainer {
    flex-direction: column;
    height: 80%;
  }
  .growSpecImg {
    width: 100%;
    height: 30rem;
    background-size: 290%;
    background-repeat: no-repeat;
    background-position: 60% 0%;
  }
  .growSpec {
    width: 100%;
    padding: 0.3rem;
  }
  .growSpec li {
    font-size: larger;
    margin-bottom: 0.3rem;
  }
}
