.postContainer {
  background-color: cadetblue;
  width: 100%;

  border-radius: 5px;
}
.postTitle {
  background-color: rgb(80, 149, 151);
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 2rem;
  height: 4rem;
}
.backButton {
  width: 2.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(166, 213, 214);
  background-repeat: no-repeat;
  background-image: url("../../src/arrow.png");
  background-size: contain;
}
.imagesList {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}
.photoItem {
  display: inline-block;
}
.photo {
  width: 90%;
}
