.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.flexItem {
  width: 10rem;
  height: 8rem;
  background-color: rgb(255, 255, 255);
  margin: 0 2rem;
}
.title {
  font-size: x-large;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.item {
  height: 75%;
  background-repeat: no-repeat;
  background-size: 6rem;
}
.temp {
  background-image: url(../../public/temp.png);
}
.hum {
  background-image: url(../../public/hum.png);
}
.water {
  background-image: url(../../public/waterHeight.png);
}
.soil {
  background-image: url(../../public/soil.png);
}
.value {
  font-size: xx-large;
  text-align: right;
  margin: 0 0.5rem;
}
