.container {
  background-color: aliceblue;
}
.loadingSpinner {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5rem solid rgb(212, 210, 210);
  border-top: 1.5rem solid aquamarine;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
