.form {
  display: flex;
  text-align: center;
  border-radius: 0.5rem;
  padding-top: 2rem;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 30rem;
  margin: 0 auto;
  flex-direction: column;
  font-size: larger;
}
